html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans;
    background-color: #F5F5F5;
    padding: 0;
    margin: 0;
}

#topbar {
    padding: 0.5em;
    border-bottom: 1px solid #BBB;
    background-color: #FEFEFE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#filters-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

#filters-form select {
    padding: 0.5em;
    display: inline-block;
    vertical-align: middle;
}

#filters-form select option:checked {
    box-shadow: 0 0 10px 100px #AAA inset;
    color: white;
}

#filters-form input {
    padding: 0.5em;
    display: inline-block;
    vertical-align: middle;
}

#filters-form button {
    padding: 0.5em;
}

#filters-form label {
    font-size: 0.8em;
}

#filters-form .checkboxes {
    display: flex;
    flex-direction: column;
}

#status {
    text-align: center;
}

.error {
    display: "inline-block";
    margin: 0;
    padding: 0;
    margin-top: 3em;
    line-height: 1em;
    color: #999;
    font-weight: bold;
}

#wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

#footer-info {
    padding: 2em;
    font-size: x-small;
    color: #666;
    display: block;
}

#footer-info .left {
    float: left;
}

#footer-info .right {
    float: right;
}

#footer-info button {
    font-size: x-small;
    margin-right: 0.3em;
}

#print-here {
    width: 100%;
}

.drop-charts-wrapper {
    margin: auto;
    text-align: center;
    max-width: 90%;
    font-size: 1em;
    margin-bottom: 2em;
}

.tab {
    margin-top: 2em;
}

.tab .tablinks {
    font-size: 1.2em;
    width: 200px;
    padding: 0.5em;
    user-select: none;
    background-color: #EEE;
    border: 1px solid #AAA;
    border-left: none;
    border-right: none;
}

.tab .tablinks:first-child {
    border-left: 1px solid #AAA;
}

.tab .tablinks:last-child {
    border-right: 1px solid #AAA;
}

.tab .tablinks:hover {
    background-color: #DDD;
    cursor: pointer;
}

.tab .active {
    background-color: #C5C5C5;
    color: #555;
    font-weight: bolder;
}

.tab .active:hover {
    background-color: #C5C5C5;
    cursor: initial;
}

.drop-table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: auto;
    margin-top: 2em;
}

.drop-table td, th {
    border: 1px solid #666;
    padding: 0.5em;
}

.drop-table .episode {
    background-color: #BBB;
    color: #555;
}

.drop-table .area {
    background-color: #CCC;
    color: #555;
}

.drop-table .monster {
    background-color: #DDD;
    color: #555;
}

.drop-table .drop-item {
    margin-bottom: 20px;
}

.drop-table .drop-item:last-child {
    margin-bottom: 0px;
}

.drop-table .drop-name {
    font-weight: 550;
    color: #151515;
}

.drop-table .drop-rate {
    display: inline-block;
    margin-top: 0.4em;
    color: #292929;
    font-size: smaller;
}

.drop-table abbr[title] {
    border-bottom: none;
    text-decoration: none;
    cursor: help;
}

.viridia {
    background-color: #99D099;
}

.greenill {
    background-color: #99FF99;
}

.skyly {
    background-color: #99EEEE;
}

.bluefull {
    background-color: #90B0F5;
}

.purplenum {
    background-color: #E0AAFF;
}

.pinkal {
    background-color: #F0AACC;
}

.redria {
    background-color: #FF9999;
}

.oran {
    background-color: #FFCC99;
}

.yellowboze {
    background-color: #FFFF99;
}

.whitill {
    background-color: white;
}

[title]{
    text-decoration: underline dashed #707070;
}

/* Container styles */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent dark background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Make sure it appears above other content */
}

/* Modal styles */
.modal {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%; /* Responsive width */
    padding: 20px;
    padding-top: 15px;
    position: relative;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Title styles */
.modal-title {
    color: gray;
    user-select: none;
}

/* Close button styles */
.modal-close {
    display: inline-block;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
}

.modal-close {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: gray;
    transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* Content styles */
.modal-content {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.junk-item-list-editor {
    padding: 10px;
    width: 95%;
    height: 500px;
    resize: none;
}
